<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries><package android:name="com.spotify.music" /></queries>
    <!-- Spotify must resolve this package and its authenticated settings provider. -->
    <application android:forceQueryable="true" android:label="SpotiTheme" android:allowBackup="false" android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".settings.ThemeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name=".settings.SettingsProvider" android:authorities="com.spotitheme.settings" android:exported="true" />
        <meta-data android:name="xposedsharedprefs" android:value="true" />
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="JSON themes for pinned Spotify 9.1.86.2432" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
