<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="SpotiTheme" android:allowBackup="false">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="JSON themes for pinned Spotify 9.1.86.2432" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
